.header__wrapper {
  display: flex;
  align-items: center;
  gap: 90px;
  margin-top: 24px;
}

.list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 56px;
}

.list__a {
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #61636D;
  transition: linear 0.3s;
}

.list__a:hover {
  color: #262931;
}

.list__a:active {
  color: #262931;
}

.entered {
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #262931;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 8px;
  transition: linear 0.3s;
}

.entered:hover {
  color: #000000;
}
.entered:hover path {
  fill: #000000;
}

.burger__menu {
  display: none;
  width: 23px;
  height: 23px;
  position: relative;
  cursor: pointer;
}

.burger__element {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #262931;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.burger__menu::before {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #262931;
  position: absolute;
  top: 0;
}

.burger__menu::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #262931;
  position: absolute;
  bottom: 0;
}

.burger__active span {
  display: none;
}

.burger__active::before {
  top: 50%;
  transform: rotate(45deg);
}

.burger__active::after {
  top: 50%;
  transform: rotate(-45deg);
}

@media (max-width: 992px) {
  .header__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 15px;
  }
  .list {
    display: none;
  }
  .entered {
    display: none;
  }
  .burger__menu {
    display: block;
  }
}
.intro {
  background-image: url(../img/Frame\ 13.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 0;
}

.intro__wrapper {
  padding-top: 115px;
  padding-bottom: 144px;
  display: flex;
  flex-direction: row;
  gap: 138px;
}

.innovation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 56px;
  flex: 0 1 576px;
}

.innovation__h1 {
  font-family: RF Dewi Extended;
  font-style: normal;
  font-weight: 800;
  font-size: 56px;
  line-height: 67px;
  color: #262931;
  max-width: 576px;
}

.blue {
  color: #0176FF;
}

.black {
  font-family: Inter;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  color: #3F414A;
}

.innovation__p {
  font-family: Inter;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  color: #61636D;
}

.link__partners {
  display: flex;
  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: white;
  background-color: #0176FF;
  border-radius: 72px;
  padding: 16px 32px;
  text-align: center;
  transition: linear 0.3s;
}

.link__partners:hover {
  box-shadow: 0px 4px 20px 0px rgba(16, 109, 217, 0.5);
}

.link__partners:active {
  box-shadow: inset 0px 0px 10px 0px rgb(27, 83, 150);
}

.login {
  display: flex;
  flex-direction: column;
  padding: 40px 48px;
  gap: 40px;
  background: white;
  border-radius: 30px;
  box-shadow: 0px 12px 32px 0px rgba(50, 73, 85, 0.1);
  flex: 0 1 485px;
}

.title {
  font-family: RF Dewi Extended;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  color: #262931;
  align-self: center;
}

.input__box {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.input__box input {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #A9ABB6;
  padding: 16px 20px;
  border: 1px solid #C4C7CF;
  border-radius: 30px;
  width: 100%;
  flex: 0 1;
  transition: linear 0.3s;
}

.input__box input:hover {
  border: 1px solid rgb(97, 99, 109);
}

.input__box input:focus {
  outline: 3px solid rgba(0, 143, 248, 0.2);
}

.input__box:invalid {
  border: 1px solid #EE5656;
  box-shadow: 0px 0px 0px 3px rgba(255, 125, 137, 0.2);
}

.password__box {
  position: relative;
}

.eye {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 20px;
  right: 20px;
}

.remember {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  color: #9FA1AD;
}

.input__box:last-child {
  gap: 8px;
}

.entered__to__account {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #262931;
  border: 1px solid #0176FF;
  border-radius: 72px;
  padding: 16px 40px;
  text-align: center;
  align-self: center;
  transition: linear 0.3s;
}

.entered__to__account:hover {
  background: #0176FF;
  color: white;
}

.entered__to__account:active {
  box-shadow: inset 0px 0px 10px 0px rgb(27, 83, 150);
}

.dont__account {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #9FA1AD;
  text-align: center;
}

.registration__intro {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #0176FF;
  text-align: center;
  transition: linear 0.3s;
}

.registration__intro:hover {
  color: #175297;
}

.mobile {
  display: none;
}

@media (max-width: 992px) {
  .intro__wrapper {
    gap: 30px;
    display: flex;
    flex-direction: column;
    padding-top: 57px;
  }
  .innovation {
    flex: 0;
  }
  .innovation__h1 {
    max-width: 100%;
  }
  .mobile {
    display: block;
  }
  .innovation__p {
    max-height: 100%;
  }
  .link__partners {
    align-self: center;
    width: 100%;
    border-radius: 72px;
    text-align: center;
  }
}
.about {
  background: white;
  background-image: url(../img/Frame\ 21.svg);
  background-repeat: repeat-x;
  background-position: bottom;
  background-size: 1620px 93px;
}

.about__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 253px;
  padding-top: 80px;
  padding-bottom: 167px;
}

.img__box {
  display: flex;
  align-items: center;
  flex: 0 1 405px;
}

.about__info {
  display: flex;
  flex-direction: column;
  gap: 32px;
  flex: 0 1 487px;
}

.about__title {
  font-family: RF Dewi Extended;
  font-style: normal;
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
  color: #262931;
}

.text__box {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.bold {
  color: #262931;
}

.about__text {
  font-family: Inter;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #61636D;
}

.three {
  padding-right: 10px;
}

.working__wrapper {
  display: flex;
  flex-direction: column;
  padding: 144px 0px;
}

.working__title {
  font-family: RF Dewi Extended;
  font-style: normal;
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
  color: #262931;
}

.working__items {
  display: flex;
  flex-direction: row;
  position: relative;
  padding-top: 64px;
  padding-bottom: 60px;
  overflow-x: auto;
}

.working__items::-webkit-scrollbar {
  width: 0;
}

.vector__1 {
  width: 93px;
  height: 54px;
  position: absolute;
  top: 303px;
  left: 233px;
}

.path {
  width: 180px;
  height: 111px;
  position: absolute;
  left: 532px;
  top: 296px;
}

.vector__2 {
  width: 152px;
  height: 88px;
  position: absolute;
  left: 808px;
  top: 303px;
}

.working__item__one {
  display: flex;
  flex-direction: column;
  gap: 94px;
}
.working__item__one img {
  width: 260px;
  height: 291px;
}

.item__one__text__box {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.working__item__two {
  display: flex;
  flex-direction: column;
  gap: 98px;
  padding-left: 31px;
}
.working__item__two img {
  width: 289px;
  height: 273px;
}

.item__two__text__box {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.working__item__three {
  display: flex;
  flex-direction: column;
  gap: 145px;
  padding-left: 31px;
}
.working__item__three img {
  width: 262px;
  height: 271px;
}

.working__item__four {
  display: flex;
  flex-direction: column;
  gap: 82px;
  padding-left: 31px;
}
.working__item__four img {
  width: 259px;
  height: 271px;
}

.item__four__text__box {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-left: 46px;
}

.item__title {
  font-family: RF Dewi Extended;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  color: #262931;
}

.item__text {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #61636D;
}

.working__blue {
  color: #0176FF;
}

.become__box {
  padding-top: 32px;
}

.become {
  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: white;
  background-color: #0176FF;
  padding: 16px 32px;
  border-radius: 72px;
  align-self: center;
  transition: linear 0.3s;
}

.become:hover {
  box-shadow: 0px 4px 20px 0px rgba(16, 109, 217, 0.5);
}

.become:active {
  box-shadow: inset 0px 0px 10px 0px rgb(27, 83, 150);
}

.just__crypto__wrapper {
  display: flex;
  flex-direction: column;
  gap: 56px;
  padding-bottom: 144px;
}

.title__box {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 0 265px;
}

.just__title {
  font-family: RF Dewi Extended;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  color: #262931;
  text-align: center;
}

.blue__title {
  color: #0176FF;
}

.just__txt {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #61636D;
  text-align: center;
}
.just__txt b {
  color: #262931;
}

.video {
  align-self: center;
  border-radius: 30px;
}

.authorization {
  background-color: #0176FF;
  background-image: url(../img/Frame\ 14.png);
  background-repeat: no-repeat;
  background-position: right;
}

.authorization__wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 48px 0;
}

.authorization__txt__box {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-right: 400px;
}

.authorization__title {
  font-family: RF Dewi Extended;
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 52px;
  color: white;
}
.authorization__title span {
  color: #FBDC7C;
}

.authorization__txt {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: white;
  padding-right: 50px;
}
.authorization__txt b {
  font-weight: 600;
}

.registration__box {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
}

.registration {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #262931;
  background-color: white;
  border-radius: 72px;
  padding: 16px 32px;
}

.create {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: white;
}

.support {
  background-image: url(../img/Asset\ 1\ 4.png);
  background-repeat: no-repeat;
  background-position: center bottom;
}

.support__wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 166px;
  padding-bottom: 103px;
  gap: 56px;
  align-items: center;
}

.support__title {
  font-family: RF Dewi Extended;
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 48px;
  color: black;
  text-align: center;
  max-width: 697px;
}

.support__blue {
  color: #0176FF;
}

.box__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: scroll;
}

.box__content::-webkit-scrollbar {
  width: 0;
}

.info__content__one {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 75px;
  padding-right: 83px;
  position: relative;
}

.column__two {
  position: relative;
  right: 30px;
}

.comumn__three {
  text-align: end;
}

.info__content__two {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 75px;
  padding-left: 65px;
  position: relative;
}

.paragraph__one {
  text-align: start;
  position: relative;
  left: 58px;
}

.paragraph__two {
  position: relative;
  left: 75px;
}

.paragraph__three {
  text-align: start;
  position: relative;
  left: 63px;
  text-align: start;
}

.content__txt {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #61636D;
}
.content__txt b {
  color: black;
}

.educated__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  padding-top: 21px;
  padding-bottom: 144px;
}

.educated__title {
  font-family: RF Dewi Extended;
  font-style: normal;
  font-size: 40px;
  line-height: 48px;
  color: #262931;
}
.educated__title span {
  color: #0176FF;
}

.video__two {
  border-radius: 30px;
}

.answers__wrapper {
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding-bottom: 120px;
}

.answers__title {
  font-family: RF Dewi Extended;
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 48px;
  color: #262931;
}
.answers__title span {
  color: #0176FF;
}

.answers__content {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.questions {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex: 0 1 682px;
}

.details {
  background-color: white;
  padding: 24px 24px;
  border-radius: 16px;
  cursor: pointer;
}
.details summary {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #262931;
  list-style: none;
  position: relative;
}

summary::before {
  content: url("../img/icon.svg");
  position: absolute;
  right: 0;
  bottom: 3px;
}

details[open] summary::before {
  content: url("../img/icon (1).svg");
}

.details__content {
  display: flex;
  flex-direction: column;
  padding-top: 16px;
  margin-top: 16px;
  border-top: 1px solid #DCDDE5;
}

.details__items {
  align-self: flex-start;
  padding-left: 24px;
}

.details__text {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #262931;
}

.answers__form__box {
  flex: 0 1 485px;
}

.answer__form {
  display: flex;
  flex-direction: column;
  gap: 32px;
  background-color: white;
  border-radius: 30px;
  box-shadow: 0px 12px 32px 0px rgba(50, 73, 85, 0.1);
  padding: 40px 48px;
  margin-top: 32px;
}

.answer__text__box {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0 20px;
}

.answer__title {
  font-family: RF Dewi Extended;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  color: #262931;
  text-align: center;
}

.answer__txt {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #61636D;
  text-align: center;
}

.answer__input__box {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.input__answer {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #A9ABB6;
  padding: 16px;
  border-radius: 30px;
  border: 1px solid #C4C7CF;
  transition: linear 0.3s;
}

.input__answer:hover {
  border: 1px solid rgb(97, 99, 109);
}

.input__answer:focus {
  outline: 3px solid rgba(0, 143, 248, 0.2);
}

.input__answer:invalid {
  border: 1px solid #EE5656;
  box-shadow: 0px 0px 0px 3px rgba(255, 125, 137, 0.2);
}

.send {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #262931;
  padding: 16px 40px;
  border: 1px solid #0176FF;
  border-radius: 72px;
  align-self: center;
  transition: linear 0.3s;
}

.send:hover {
  background: #0176FF;
  color: white;
}

.send:active {
  box-shadow: inset 0px 0px 10px 0px rgb(27, 83, 150);
}

.footer {
  background-color: white;
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 56px;
  padding: 56px 0;
}

.footer__top {
  display: flex;
  flex-direction: row;
  gap: 207px;
}

.footer__logo {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.logo__txt {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #9FA1AD;
}

.link__wrapper {
  display: flex;
  flex-direction: row;
  gap: 120px;
}

.link__box {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.link__footer {
  font-family: Inter;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  color: #61636D;
  transition: linear 0.3s;
}

.link__footer:hover {
  color: #262931;
}

.link__footer:active {
  color: #262931;
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer__authorization {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #262931;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  transition: linear 0.3s;
}

.footer__authorization:hover {
  color: #000000;
}
.footer__authorization:hover path {
  fill: #000000;
}

.footer__email {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #262931;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  transition: linear 0.3s;
}

.footer__email:hover {
  color: #000000;
}
.footer__email:hover path {
  fill: #000000;
}

.footer__down {
  display: flex;
  flex-direction: row;
  gap: 48px;
}

.link__footer__down {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #9FA1AD;
}/*# sourceMappingURL=style.css.map */