.about {
    background: white;
    background-image: url(../img/Frame\ 21.svg);
    background-repeat: repeat-x;
    background-position: bottom;
    background-size: 1620px 93px;
}

.about__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 253px;
    padding-top: 80px;
    padding-bottom: 167px;
}

.img__box {
   display: flex;
   align-items: center;
   flex: 0 1 405px;
}

.about__info {
    display: flex;
    flex-direction: column;
    gap: 32px;
    flex: 0 1 487px;
}

.about__title {
    font-family: RF Dewi Extended;
    font-style: normal;
    font-size: 40px;
    font-weight: 800;
    line-height: 48px;
    color: #262931;
}

.text__box {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.bold {
    color: #262931;
}

.about__text {
    font-family: Inter;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #61636D;
}

.three {
    padding-right: 10px;
}

@media(max-width: 992px) {
    .about {
        background: white;
    }
    .about__wrapper {
        padding: 40px 12px;
        gap: 40px;
    }

    .img__box {
        flex: 1 1 240px;
        img {
            width: 100%;
            height: 100%;
        }
    }

    .about__info {
        flex: 1 1 280px;
        gap: 16px;
    }

    .about__title {
        font-size: 18px;
        line-height: 22px;
    }

    .text__box {
        gap: 8px;
    }

    .about__text {
        font-size: 14px;
        line-height: 22px;
    }
}