.educated__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    padding-top: 21px;
    padding-bottom: 144px;
}

.educated__title {
    font-family: RF Dewi Extended;
    font-style: normal;
    font-size: 40px;
    line-height: 48px;
    font-weight: 800;
    color: #262931;
    span {
        color: #0176FF;
    }
}

.video__two {
    border-radius: 30px;
}

@media(max-width: 992px) {
    .educated__wrapper {
        flex-wrap: wrap;
        flex-direction: initial;
        padding-top: 33px;
        padding-bottom: 64px;
        gap: 32px;
    }

    .educated__title {
        font-size: 18px;
        line-height: 22px;
    }

    .video__two {
        flex: 1 1 296px;
        min-width: 296px;
    }
}
