.intro {
    background-image: url(../img/Frame\ 13.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 0;
}

.intro__wrapper {
    padding-top: 115px;
    padding-bottom: 144px;
    display: flex;
    flex-direction: row;
    gap: 138px;
}

.innovation {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 56px;
    flex: 0 1 576px;
}

.innovation__h1 {
    font-family: RF Dewi Extended;
    font-style: normal;
    font-weight: 800;
    font-size: 56px;
    line-height: 67px;
    color: #262931;
    max-width: 576px;
}

.blue {
    color: #0176FF;
}

.black {
    font-family: Inter;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: #3F414A; 
}

.innovation__p {
    font-family: Inter;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: #61636D;
}

.link__partners {
    display: flex;
    font-family: Inter;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: white;
    background-color: #0176FF;
    border-radius: 72px;
    padding: 16px 32px;
    text-align: center;
    transition: linear .3s;
}

.link__partners:hover {
    box-shadow: 0px 4px 20px 0px rgba(16, 109, 217, 0.5);
}

.link__partners:active {
    box-shadow: inset 0px 0px 10px 0px rgba(27, 83, 150, 1);
}

.login {
    display: flex;
    flex-direction: column;
    padding: 40px 48px;
    gap: 40px;
    background: white;
    border-radius: 30px;
    box-shadow: 0px 12px 32px 0px rgba(50, 73, 85, 0.1);
    flex: 0 1 485px;
}

.title {
    font-family: RF Dewi Extended;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    color: #262931;
    align-self: center;
}

.input__box {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.input__box input {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #A9ABB6;
    padding: 16px 20px;
    border: 1px solid #C4C7CF;
    border-radius: 30px;
    width: 100%;
    flex: 0 1;
    transition: linear .3s;
}

.input__box input:hover {
    border: 1px solid rgba(97, 99, 109, 1);
}

.input__box input:focus {
    outline: 3px solid #008FF833;
}

.input__box:invalid {
    border: 1px solid #EE5656;
    box-shadow: 0px 0px 0px 3px rgba(255, 125, 137, 0.2);
}

.password__box {
    position: relative;
}

.eye {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 20px;
    right: 20px;
}

.remember {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
    color: #9FA1AD;
}

.input__box:last-child {
    gap: 8px;
}

.entered__to__account {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #262931;
    border: 1px solid #0176FF;
    border-radius: 72px;
    padding: 16px 40px;
    text-align: center;
    align-self: center;
    transition: linear .3s;
}

.entered__to__account:hover {
    background: #0176FF;
    color: white;
}

.entered__to__account:active {
    box-shadow: inset 0px 0px 10px 0px rgba(27, 83, 150, 1);
}

.dont__account {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #9FA1AD;
    text-align: center;
}

.registration__intro {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #0176FF;
    text-align: center;
    transition: linear .3s;
}

.registration__intro:hover {
    color: #175297;
}

.mobile {
    display: none;
}

@media(max-width:992px) {
    .intro__wrapper {
        gap: 30px;
        display: flex;
        flex-direction: column;
        padding-top: 57px;
    }

    .innovation {
        flex: 0;
    }

    .innovation__h1 {
        max-width: 100%;
    }

    .mobile {
        display: block;
    }

    .innovation__p {
        max-height: 100%;
    }

    .link__partners {
        align-self: center;
        width: 100%;
        border-radius: 72px;
        text-align: center;
    }
}